<div class="space-x-card">
  <div class="image-container">
    <img [src]="spaceXListItem.links.mission_patch_small" loading="lazy" onerror="this.src='../../assets/rocket.jpg'"
      [alt]="spaceXListItem.mission_name">
  </div>
  <div class="content-container">
    <p class="bold color-blue">{{spaceXListItem.mission_name}} # {{spaceXListItem.flight_number}}</p>
    <div *ngIf="spaceXListItem.mission_id.length">
      <span class="bold">Mission Ids:</span>
      <ul>
        <li *ngFor="let missionId of spaceXListItem.mission_id">{{missionId}}</li>
      </ul>
    </div>
    <div>
      <span class="bold">Launch Year:</span> {{spaceXListItem.launch_year}}
    </div>
    <div>
      <span class="bold">Successful Launch:</span> {{spaceXListItem.launch_success}}
    </div>
    <div>
      <span class="bold">Successful Landing:</span>
      <span let *ngFor="let core of spaceXListItem.rocket?.first_stage?.cores; let i = index">
        {{(core.land_success === true || core.land_success === false) ?  core.land_success : 'null'}}
        {{i === spaceXListItem.rocket.first_stage.cores.length-1? '': ','}}
      </span>
    </div>
  </div>

</div>
